<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="html, css, python, javascript" />
    <meta name="description" content="Exploramos el contenido basico de html y css" />
    <meta name="author" content="https://github.com/Juanklg" />
    <link rel="icon" type="image/x-icon" href="" />
    <title>Explorando Html</title>
    <style>
        body{
            background-color: darkgrey;
        }
        h1{
            color: blueviolet;
            font-size: 4em;
        }
        .parrafos{
            font-size: 10px;
        }
        #pInicial{
            background-color: cyan;
        }
        .libres{
            max-width: 200px;
        }
        .espacios{
            margin: auto;
            margin-top: 50px;
        }
    </style>
</head>

<body>
    <h1>{{data.title}}</h1>
    <div>Hola</div>
    <p class="parrafos libres" id="pInicial">{{data.mensaje}}</p>
    <h2>Input texto</h2>
    <input type="text" placeholder="Escriba algo">
    <h3>Input numerico</h3>
    <input type="number" />
    <h4>Input Contraseña</h4>
    <input type="password">
    <div class="espacios" style="border: 5px;border-radius: 5px;border-style: dashed; max-width: 600px;">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam dolorem eaque nihil molestiae architecto,
            sequi dicta nobis laudantium atque non asperiores unde deserunt ratione dolorum assumenda deleniti placeat!
            Distinctio, cumque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione ex officiis omnis vero eligendi doloribus at
            architecto quidem minima in quod, neque quae sunt nobis et nemo pariatur quasi maxime qui nostrum, magnam
            expedita. Incidunt omnis magnam, possimus saepe perspiciatis quis quam nemo totam obcaecati nisi eveniet,
            excepturi officiis dicta non. Architecto dolorum deleniti laudantium nisi reprehenderit sit officiis
            voluptas quia alias ipsa eveniet ut labore porro unde non, amet nam magni, quod quis autem a illo dolor at
            tenetur! Saepe quod a odit maxime odio repellendus obcaecati iusto provident perspiciatis, ducimus soluta
            illo doloribus nihil eos quia voluptates ad?</p>
    </div>

</body>

</html>