{% extends "layout/layout.html" %}

{% block head %}
<title>***Articulos***</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
{% endblock %}

{% block main %}
    <section class="articulosAdd">
        <form action="/articulosAdd/" method="get">

            <label for="nombre">Agregue nombre del articulo:</label>
            <input type="text" name="nombre" id="nombre">
            <br>

            <label>Ingrese la seccion de su articulo:
                <input type="text" name="seccion"></label>
            <br>

            <label>Ingrese el precio su articulo:
                <input type="number" name="precio">
            </label>
            <br>
            
            <input type="submit" value="Agregar">
        </form>
    </section>
    <style>
        .articulo{
            display: flex;
            justify-content: center;
            gap: 20px;

        }
    </style>
    <section class="readArticulos">
        {% for art in articulos %}
        <div class="articulo">
            <div class="nombre">{{art.nombre}}</div>
            <div class="seccion">{{art.seccion}}</div>
            <div class="precio">{{art.precio}}</div>
            <div class="funciones">
                <a href="delete/{{art.nombre}}/"><i class="bi bi-trash"></i></a>
                <a href="edit/{{art.nombre}}/"><i class="bi bi-pencil"></i></a>

                
                
            </div>
        </div>
        {% endfor %}
    </section>
{% endblock %}