{% extends "layout/layout.html" %}

{% block head %}
<title>***Articulos***</title>
{% endblock %}

{% block main %}
    <section>
        <form action="/articulosAdd" method="get">

            <label for="nombre">Agregue nombre del articulo:</label>
            <input type="text" name="nombre" id="nombre">
            <br>

            <label>Ingrese la seccion de su articulo:
                <input type="text" name="seccion"></label>
            <br>

            <label>Ingrese el precio su articulo:
                <input type="number" name="precio">
            </label>
            <br>
            
            <input type="submit" value="Agregar">
        </form>
    </section>
{% endblock %}