{% extends "layout/layout.html" %}

{% block head %}
<title>***Articulos***</title>
<link rel="stylesheet" href="/static/css/articulos.css">
{% endblock %}

{% block main %}
<section>
    <form action="/gestor/articulos" method="get">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Buscar en articulos" name='search'
                aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-primary" type="submit" id="button-addon2">Search</button>
        </div>
    </form>
</section>

<section class="articulosAdd">
    <form action="/gestor/articuloAdd/" method="post">{% csrf_token %}
        <label for="nombre">Agregue nombre del articulo:</label>
        <input type="text" name="nombre" id="nombre" size="30" maxlength="30">
        <br>

        <label>Ingrese la seccion de su articulo:
            <input list='secciones' type="text" name="seccion" size="30" maxlength="30"></label>
        <datalist id="secciones">
            {% for sec in secciones %}
                <option value="{{sec}}">
            {% endfor %}
        </datalist>
        <br>

        <label>Ingrese el precio su articulo:
            <input type="number" name="precio" size="30" maxlength="30">
        </label>
        <br>

        <input type="submit" value="Agregar">
    </form>
</section>

<section class="readArticulos">
    {% for art in articulos %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{art.nombre|upper}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{art.seccion}}</h6>
            <p class="card-text">{{art.precio}}</p>
            <!-- <a href="delete/{{art.nombre}}/" class="card-link"> -->
                <i 
                    class="bi bi-trash"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                    data-bs-whatever="{{art.nombre}}"
                >
                </i>
            <!-- </a> -->
            <a href="edit/{{art.nombre}}/" class="card-link"><i class="bi bi-pencil"></i></a>
        </div>
    </div>
    {% endfor %}
</section>


{% endblock %}