<!DOCTYPE html>
<html>

<head>
    <title>Page Title</title>
</head>

<body>
    <h1>Pagina Proyecto {{usuario}}</h1>
    <ul>
        <li><a href="http://127.0.0.1:5000/">Home</a></li>
        <li><a href="http://127.0.0.1:5000/doc">doc</a></li>
        <li><a href="http://127.0.0.1:5000/proy">proyecto</a></li>        
        <li><a href="http://127.0.0.1:5000/proy/juan">Proyecto Juan</a></li>
        <li><a href="https://www.w3schools.com/" target="_blank">Pagina 1 para estudiar HTML</a></li>
        <li><a href="https://html.com/" target="_blank">Pagina 2 para estudiar HTML</a></li>
    </ul>
    <!-- <h1>{{proyecto.nombre}}</h1>
    <p>{{proyecto.texto}}</p> -->
</body>

</html>