<!DOCTYPE html>
<html>

<head>
    <title>{{proyecto}}</title>
    <style>
        #div1 {
            width: 600px;
            height: 70px;
            padding: 100px;
            border: 5px solid #ffa256;
            margin: 20PX;
        }
    </style>
    <script>
        function allowDrop(ev) {
            ev.preventDefault();
        }

        function drag(ev) {
            console.log(ev.target.id)
            ev.dataTransfer.setData("text", ev.target.id);
        }

        function drop(ev) {
            console.log('Aca ejecuntando el drop')
            ev.preventDefault();
            var data = ev.dataTransfer.getData("text");
            ev.target.appendChild(document.getElementById(data));
        }
    </script>
</head>

<body>
    <h1>Pagina Proyecto {{usuario}}</h1>
    <ul>
        <li><a href="http://127.0.0.1:5000/">Home</a></li>
        <li><a href="http://127.0.0.1:5000/doc">doc</a></li>
        <li><a href="http://127.0.0.1:5000/proy">proyecto</a></li>
        <li><a href="http://127.0.0.1:5000/proy/juan">Proyecto Juan</a></li>
        <li><a href="https://www.w3schools.com/" target="_blank">Pagina 1 para estudiar HTML</a></li>
        <li><a href="https://html.com/" target="_blank">Pagina 2 para estudiar HTML</a></li>
    </ul>

    <!-- --------------------------------------------Estudiantes------------------------------------------------------------ -->
    <div id='form' draggable="true" ondragstart="drag(event)">
        <h1>Estudiantes</h1>
        <label for="grupo">Seleccione el grupo:</label>
        <select id="grupo" name="grupo">
            {% for x in cte.estuiantes_grupo %}
            <option value="{{x}}">Grupo {{x}}</option>
            {% endfor %}
        </select>
    </div>
    <!-- ---------------------------------------------------drag and drop-------------------------------------------------------- -->
    <div>
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
            hOLA COMO ESTAN
        </div>
        <br>
        <img id="drag1" src="static/logo.gif" draggable="true" ondragstart="drag(event)" width="336" height="69">

    </div>
    <!-- --------------------------------------------Redes----------------------------------------------------------- -->
    <div>
        {% for key, value in data.items() %}
        <h3>{{key}}</h3>
        <ul>
            {% for key2, value2 in value.items() %}
            <li><a href="{{value2}}">{{key2}}</a></li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>

    <!-- <h1>{{proyecto.nombre}}</h1>
<p>{{proyecto.texto}}</p> -->
</body>

</html>