{% extends "layout/layout.html" %}

{% block head %}
    <title>***Videos***</title>
    <link rel="stylesheet" href="/static/css/videos.css">
{% endblock %}

{% block main %}
    <section>
        <h1>{{titulo}}</h1>
        <h5>{{fecha}}</h5>
        <iframe class="ytVid" src="https://www.youtube.com/embed/F4vie0ZmVm4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>
    <section>
        <h1>{{titulo}}</h1>
        <h5>{{fecha}}</h5>
        <iframe class="ytVid" src="https://www.youtube.com/embed/F4vie0ZmVm4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>
{% endblock %}
