<style>
    footer{
        background-color: rgb(95, 158, 160,0.37);
        width: 100%;
        /* position */
        position: fixed;
        bottom: 0%;
        /* box model */
        margin: 0px;
        padding: 0px;
        /* Transformaciones */
        text-transform:uppercase;
    }footer div{
        /* box model */
        margin: 0px;
        padding: 5px;
        /* flex */
        display: flex;
        justify-content: flex-end;
    }
</style>
<footer>
    <nav class="nav">
        <a href="/">home</a>
        <a href="/fecha">fecha</a>
        <a href="/calculo/2000/2035">calculo</a>
        <a href="/tareas">tareas</a>
        <a href="/videos">videos</a>
        <a href="/admin">admin</a>
    </nav>
</footer>