<style>
    header{text-align: center;}
    .nav{
        background-color: rgb(95, 158, 160,0.37);
        width: 100%;
        /* flex */
        display: flex;
        justify-content: flex-end;
        gap: 15px;        
        /* Transformaciones */
        text-transform:uppercase;
    }
    .nav a{
        padding: 20px 5px;
    }    
</style>
<header>
    <h1>Titulo principal</h1>
</header>
<nav class="nav">
    <a href="/tareas">tareas</a>
    <a href="/calculo/2000/2035">calculo</a>
    <a href="/admin">admin</a>
    <a href="/">
        <svg class="bi" width="24" height="24" viewBox="0 0 16 16">
            <use xlink:href="/static/img/icons.svg#home"/>
        </svg>
    </a>
    <a href="/signin">
        <svg class="bi" width="24" height="24" viewBox="0 0 16 16">
            <use xlink:href="/static/img/icons.svg#signin"/>
        </svg>
    </a>
    <a href="/login">
        <svg class="bi" width="24" height="24" viewBox="0 0 16 16">
            <use xlink:href="/static/img/icons.svg#login"/>
        </svg>
    </a>
    <!-- <a href="/gestor/articulos">articulos</a> -->
    <!-- <a href="/gestor/clientes">clientes</a> -->
    <!-- <a href="/gestor/usuarios">Add User</a> -->
    <!-- <a href="/fecha">fecha</a> -->
</nav>